input[type='text']
{
    margin-top: 15vh;
    transform: translate(50%,50%);
    text-align: center;
    height: 5vh; 
    font-size: 20px;
    border-radius: 6px;
}
input[type='submit']
{
    margin-top: 15vh;
    transform: translate(100%,50%);
    background-color: red;
    color: white;
    font-weight: bolder;
    width: 15vh;
    height: 5vh; 
    font-size: 20px;
    border-radius: 10px;
    border: none;
}
input[type='submit']:hover
{
    cursor: pointer;
    background-color: rgb(186, 0, 0);
}
.name
{
    /* border: 2px solid black; */
    display: flex;
    /* justify-content: space-evenly; */
}